.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  width: 300px;
}

.search-field input {
  font-weight: 400;
}

.search-field mat-icon {
  color: #9f9f9f;
}

.search-field input::placeholder {
  color: #9f9f9f;
}

.search-country ::ng-deep .mat-mdc-select-value-text {
  color: #5a5a5a;
}

.search-country ::ng-deep .mat-mdc-select-arrow {
  color: #9f9f9f;
}

::ng-deep .custom-select-panel {
  background-color: white!important;
}

