.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-country ::ng-deep .mat-mdc-select-value-text {
  color: var(--color-secondary-dark);
}

.search-country ::ng-deep .mat-mdc-select-arrow {
  color: var(--color-secondary);
}

::ng-deep .custom-select-panel {
  background-color: white!important;
}

