.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-country ::ng-deep .mat-mdc-select-value-text {
  color: var(--color-secondary-dark);
}

.search-country ::ng-deep .mat-mdc-select-arrow {
  color: var(--color-secondary);
}

::ng-deep .custom-select-panel {
  background-color: white!important;
}

.edited-row {
  font-weight: bold;
}

.pagination-left {
  margin-top: 22px;
}

::ng-deep .pagination-left .mat-mdc-select-panel {
  background-color: white;
}

::ng-deep .pagination-left .mat-mdc-option:hover {
  background-color: var(--color-nav-blue-light) !important;
}

::ng-deep .pagination-left .mat-mdc-option.mdc-list-item--selected {
  background-color: var(--color-nav-blue) !important;
}
