.dialog-content {
  padding: 35px;
  min-width: 400px;
}

h2 {
  margin: 0 0 35px 0;
  font-size: 28px;
  font-weight: 500;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
  margin-bottom: 100px;
}

.label {
  color: var(--color-secondary);
}

.value {
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.gray-outline {
  border-color: var(--color-border-light);
}
