.mat-mdc-header-cell {
  color: var(--color-secondary);
}

.container .mat-mdc-cell, .container .mat-mdc-header-cell {
  padding: 5px 0;
  width: 20%;
  border-bottom-color: var(--color-border-light);
}

.mat-mdc-row:hover {
  background-color: white;
}

.container {
  position: relative;
  min-height: 400px;
  margin: 0 40px;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.pagination-left {
  float: left;
}

.container .action-column {
  width: 7%;
  text-align: left;
}

.mat-icon {
  color: var(--color-secondary-dark);
}
