:root {
  --color-secondary: #9e9e9e;
  --color-secondary-dark: #777777;
  --color-border-light: #dddddd;
  --color-border-dark: #333333;

  --color-nav-blue: #176dc1;
  --color-nav-blue-light: #f6f6ff;
  --color-danger-secondary: rgb(255 121 121 / 0.2);
  --color-danger-secondary-dark: rgb(189 0 0 / 0.25);
}
