.dialog-content {
  padding: 35px;
  min-width: 400px;
}

h2 {
  margin: 0 0 35px 0;
  font-size: 28px;
  font-weight: 500;
}

.full-width {
  width: 100%;
  margin-bottom: 4px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 22px;
  row-gap: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 50px;
}

.cancel-button {
  color: red;
}

.cancel-button:hover {
  background-color: var(--color-danger-secondary);
}

.cancel-button:active {
  background-color: var(--color-danger-secondary-dark);
}

.cancel-button:focus {
  background-color: var(--color-danger-secondary-dark);
}
