<div class="dialog-content">
  <h2>{{data.name}}</h2>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Регион</mat-label>
      <input matInput formControlName="region"/>
      <button matSuffix matIconButton aria-label="Clear" (click)="form.get('region')?.reset()">
        <mat-icon>close</mat-icon>
      </button>
      @if (form.get('region')?.hasError('required')) {
        <mat-error>Обязательное поле</mat-error>
      }
    </mat-form-field>
    <div class="two-columns">
      <mat-form-field appearance="outline">
        <mat-label>Население</mat-label>
        <input matInput formControlName="population"/>
        <button matSuffix matIconButton aria-label="Clear" (click)="form.get('population')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
        @if (form.get('population')?.hasError('required')) {
          <mat-error>Обязательное поле</mat-error>
        } @else if (form.get('population')?.hasError('min')) {
          <mat-error>Население должно быть > 0</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Дата основания</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="foundingDate"/>
        <mat-datepicker-toggle matSuffix [for]="picker"/>
        <mat-datepicker #picker/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Долгота</mat-label>
        <input matInput formControlName="longitude" type="number"/>
        <button matSuffix matIconButton aria-label="Clear" (click)="form.get('longitude')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
        @if (form.get('longitude')?.hasError('required')) {
          <mat-error>Обязательное поле</mat-error>
        } @else if (form.get('longitude')?.hasError('min') || form.get('longitude')?.hasError('max')) {
        <mat-error>Долгота должна быть от -180 до 180</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Широта</mat-label>
        <input matInput formControlName="latitude" type="number"/>
        <button matSuffix matIconButton aria-label="Clear" (click)="form.get('latitude')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
        @if (form.get('latitude')?.hasError('required')) {
          <mat-error>Обязательное поле</mat-error>
        } @else if (form.get('latitude')?.hasError('min') || form.get('latitude')?.hasError('max')) {
          <mat-error>Долгота должна быть от -90 до 90</mat-error>
        }
      </mat-form-field>
    </div>
  </form>

  <div class="actions">
    <button mat-flat-button class="cancel-button" (click)="cancel()">Отменить</button>
    <button matButton="filled" color="primary" (click)="save()">Сохранить</button>
  </div>
</div>

